/* Font.module.css */
.responsiveH1 {
    font-size: 3vw; /* Base size for larger screens */
    color: blue;
  }
  
  @media (max-width: 768px) {
    .responsiveH1 {
      font-size: 7vw; /* Larger size for phone screens */
    }
  }
  
  .backButton {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .backButton:hover {
    background: #c4e201;
  }
  
  .backButton > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  .backButton:hover svg {
    transform: translateX(-5px);
  }
  
  .backButton:active {
    transform: scale(0.95);
  }